<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API</title>
</head>
<body>
  <h2>LED</h2>
  <form action="/led" method="get" target="blank">
    <label for="id">LED ID: </label>
    <input type="text" name="id" id="id">
    <br/><br/>
    <label for="state">State: </label>
      <div>
        <input type="radio" id="state_on"
        name="state" value="ON">
        <label for="state_on">On</label>
    
        <input type="radio" id="state_off"
        name="state" value="OFF">
        <label for="state_off">Off</label>
      </div>
    <input type="submit" value="Send">
  </form>
  
  <h2>Alert</h2>
  <form action="/alert" method="get" target="blank">
    <label for="text">Alert text: </label>
    <input type="text" name="text" id="text">
    <br>
    <select name="level" id="level">
      <option value="success">success</option>
      <option value="info">info</option>
      <option value="warning">warning</option>
      <option value="danger">danger</option>
    </select>
    <input type="submit" value="Send">
  </form>
  
  <iframe name="blank" id="blank" style="display: none;" />
</body>
</html>
